<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://analytics.lyrocs.ovh/script.js" data-website-id="13c87907-a9a7-4597-9c01-df58679be7ac"></script>

  @vite(['inertia/app/app.ts', `inertia/pages/${page.component}.vue`])
  @inertiaHead()
</head>

<body>
  @inertia()
</body>

</html>
